html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Muli", Helvetica, Arial, sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Catamaran", Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

 <head>
  <link rel="stylesheet" href="animate.min.css">
<h1 class="animated fadeIn">SAVE, SHARE AND COLLABORATE</h1>
</head>


  /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

  @media (min-width: 768px) {
   .container {
     width: 750px;
   }
    .one-half {
     width:36%;
   }
   .one-third {
     width:22%;
   }
   .one-fourth {
     width:15%;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 /* HEADER */
 header {
   color:#FFFFFF;
 }

 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #377E7F;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#377E7F
   ;
 }
 header nav ul > li > a {
   color:#377E7F;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }
  header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
   text-align: center;
   position: absolute;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
   position: absolute;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }


  /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #377E7F;
   border: 2px solid #377E7F;
   box-shadow: 0px 2px 0px 0px #4B6868;
   position: absolute;
 }

  /* BENEFITS */
.benefits {
   background-color: #e2e2e2 ;
 }
 .benefits {
   text-align: center;
   display:block;
   position:relative;
 }
 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits i {
   color:#377E7F;
   font-size:60px;
   margin:0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#377E7F;
 }

  /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#377E7F;
   font-weight: bold;
 }
 .testimonials ul li {
   list-style-type: none;
 }
  .testimonials li p {
   color: #377E7F;
   font-weight: bold;
 }
  .testimonials blockquote {
   color:#000000;
   text-align: left;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }

/* PRICING */
.pricing {
   background-color: #e2e2e2;
   padding:4em;
   text-align: center;
   position: relative;
}

.pricing li {
   list-style-type: none;
   display: inline-block;
}

.pricing h2 {
   font-weight: bold;
   line-height: 1.5;
}
.pricing li p {
   margin-top: 8px;
   margin-bottom: 30px;
   display: inline-block;
   width: 320px;
   color: #000000;
}


 /* FOOTER */
 footer {
   background-color: #FFFFFF;
   color: #000000;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
  footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#000000;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }
 @media (min-width: 992px){
   footer{
     background-color: #FFFFFF;
  }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #FFFFFF;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }

